.heading {
    background: rgba(255, 255, 255, 0.21);
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 1rem;
    text-align: center;
}


.password {
    text-align: center;
    background-color: rgba(245, 203, 147, 0.555);
    border-radius: 12px;
    padding: 0.8rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    
}


.slider-value {
    padding: 0.7rem;
    font-size: 1.2rem;
    border-radius: 10px;
    font-weight: 500;
    background-color: azure;
    width: max-content;
    margin: auto;
}

.icon {
    background-color: black;
    color: white;
    padding: 0.5rem;
    border-radius: 12px;
    cursor: pointer;
}

@media screen and (max-width:450px) {
    .password {
        overflow-x: scroll;

    }
}